@using Sandbox
@using Sandbox.UI
@using System.Linq;
@using Frightworks
@namespace Frightworks.UI
@inherits Panel

<root class="lobby-players">
    @foreach (var plr in Entity.All.OfType<LobbyPlayer>())
    {
        var sign = plr.ReadyAs switch
        {
            ReadyAs.None => "☒",
            ReadyAs.Survivor => "🔦",
            ReadyAs.Slasher => "💀",
        };

        <label>@($"{plr.Client.Name} {sign}")</label>
    }
</root>